.Cadastro{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    width: 70vw;
    max-width: 700px;
    height: 60vh;
    border-radius: 5%;
    margin: 0 auto;
    padding: 2em 2em 4em 2em;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 40%;
}

.Cadastro span{
    color: #000;
    font-size: 1.75em;
    position: absolute;
    right: 1.25em;
    top: 1em;
}
